body { 
  	font-family: Verdana, sans-serif;
	color:#303030;
	background:#fff;
	text-align:center; /* for IE */
  	margin:0 auto; /* for the rest */
  	max-width: 960px;
}

table{
	background-color: #ffffff;
	text-align: center;
}
a, a:link, a:visited {
  color: #1f82a9;
  background:inherit;
  background-color: transparent;
  text-decoration: underline; 
  cursor: pointer;
}
a:hover {
  color: #006699;
  background:inherit;
  text-decoration: underline;
}
img { border: 0; }
h1,h2,h3 { font-family: Cambria, Helvetica, Arial, Verdana, san-serif; }

.style1 {
	text-align: center;
}
.style2 {
	text-align: left;
}
.style3 {
	font-size: large;
	color: #0000FF;
}
.style4 {
	vertical-align: top;
}
.style5 {
	text-align: left;
	font-size: large;
	color: #0000FF;
}
.style7 {
	text-align: center;
	font-size: large;
}
.auto-style1 {
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.auto-style2 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.auto-style3 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
}
.auto-style4 {
	text-align: left;
	font-size: large;
	color: #0000FF;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.auto-style5 {
	text-align: left;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.auto-style5-c {
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.auto-style6 {
	font-size: large;
	color: #0000FF;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.auto-style7 {
	text-align: center;
	font-size: large;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.auto-style8 {
	border-width: 0px;
}
.auto-style9 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: x-large;
}
.auto-style10 {
	vertical-align: top;
	text-align: center;
}


.highlight{
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
	color: #FF0000;
}
.label {
    display: inline;
    padding: .2em .6em .2em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
/*     white-space: nowrap; */
    vertical-align: baseline;
    border-radius:0.25em
}
.label-primary-level{
    background-image: -webkit-linear-gradient(left,blue,#66ffff 10%,#cc00ff 20%,#CC00CC 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#CC00CC 70%,#CC00FF 80%,#66FFFF 90%,blue 100%);
    -webkit-text-fill-color: transparent;/* 将字体设置成透明色 */
    -webkit-background-clip: text;/* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s linear infinite;
    font-size: 100%;
}
